<?xml version="1.0" encoding="utf-8"?>
<module name="CatalogRelations" clientResourceRelativePath="" tags="EPiServerModulePackage">

  <assemblies>
    <add assembly="AddOn.CatalogRelations" />
  </assemblies>

  <dojo>
    <paths>
      <add name="addon" path="ClientResources/addon" />
    </paths>
  </dojo>

  <clientModule>
    <moduleDependencies>
      <add dependency="Shell" />
      <add dependency="CMS" />
    </moduleDependencies>
  </clientModule>

</module>